* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.menu__item {
    display: flex;
    justify-content: flex-start;
    padding: 1em;

}